@media print {
    .no-print {
        display: none !important;
    }

    .card {
        border: none !important;
        box-shadow: none !important;
    }
}

.card {
    border-radius: 12px;
}

.table-active {
    background-color: #f3f6f9;
}

.col-index-narrow {
    width: 50px;
}