.max-h-320 {
	max-height: 320px;
}

.max-h-300 {
	max-height: 300px;
}

.logo-text {
	font-weight: 700;
	font-size: 14px;
	color: var(--vz-body-color);
	display: inline-flex;
	align-items: center;
	height: 100%;
}
