.page-title-box {
    padding: 10px 0;
}

.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border: none;
    margin-bottom: 1.5rem;
}

.table th {
    font-weight: 600;
}

.clickable-row {
    cursor: pointer;
}